.landmark {
    width: 100%;
    z-index: 10;
    position: fixed;
}

.big {
    width: 30px;
    height: 30px;
}

.no-padding-x {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.breadcrumb {
    margin-bottom: 0 !important;
    background-color: transparent !important;
}
